---
name: Lint
on: pull_request

permissions:
  contents: read

jobs:
  dockerfile:
    name: dockerfile
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Run hadolint
        uses: hadolint/hadolint-action@v3.3.0

  markdownlint:
    name: markdown
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21

  actionlint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-actionlint@v1

  yamllint:
    name: Yamllint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Run Yamllint
        uses: frenck/action-yamllint@v1.5.0
        with:
          strict: true
